@media(max-width:996px){
    .imgLable{
        font-size: 11px;
    }
}
@media(max-width : 768px){
    #slider .slider{
        justify-content: center;
    }
    #slider .slider .sliderTabligh{
        display: none;
    }
    #slider .container{
        width: 100%;
    }
    #slider .slider .sliderPostContainer{
        width: 100%;
        height: 1000px;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "post1"
        "post2"
        "post3"
        "post4"
        "post5"
        ;
        gap: 1px;
    }
    .imgLable{
        font-size: 10px;
    }
}